You get a text with several sentences. Your task is 

(a) to segment the text into numbered sentences.
(b) to standardize each sentence into a propositional function with propositions (additionally named by unambigous capital letters P,Q,...) connected by propositional functions and,or,iff,not,therefore. Resolve subclauses into normal form.
(c) propositions with the same meaning must get the same letter as name. The conclusion gets a letter as well.
(d) generate a propositional function "if conj then concl" of (i) a conclusion concl from the sentence with an inference operator "therefore" (ii) a conjunction conj of all previous sentences except the conclusion and generate a truth table for that function

The text is:\n\n {{argument}}\n