---
title: {{title}}
author: {{author}}
format:
  html:
    standalone: true
    theme: cerulean
    toc: true
    html-math-method: katex
    toc-title: Contents
    toc-location: left
    number-sections: true
---

{{result}}
